.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  margin-bottom: 30px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #000000;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #a4ffaf;
}

input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid rgb(0, 0, 0);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
