<div class="options">
  <label>
    <input
      type="checkbox"
      [(ngModel)]="includeUpperCase"
      (change)="onOptionChange()"
    />
    Include Uppercase Letters
  </label>
  <label>
    <input
      type="checkbox"
      [(ngModel)]="includeLowerCase"
      (change)="onOptionChange()"
    />
    Include Lowercase Letters
  </label>
  <label>
    <input
      type="checkbox"
      [(ngModel)]="includeNumbers"
      (change)="onOptionChange()"
    />
    Include Numbers
  </label>
  <label>
    <input
      type="checkbox"
      [(ngModel)]="includeSymbols"
      (change)="onOptionChange()"
    />
    Include Symbols
  </label>
</div>
