<div class="options">
  <label>
    <input
      type="checkbox"
      [(ngModel)]="includeUpperCase"
      (change)="onOptionChange()"
    />
  </label>
  <label>
    <input
      type="checkbox"
      [(ngModel)]="includeLowerCase"
      (change)="onOptionChange()"
    />
  </label>
  <label>
    <input
      type="checkbox"
      [(ngModel)]="includeNumbers"
      (change)="onOptionChange()"
    />
  </label>
  <label>
    <input
      type="checkbox"
      [(ngModel)]="includeSymbols"
      (change)="onOptionChange()"
    />
  </label>
</div>
