.display-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 10px;
  /* padding: 1rem; */
  color: var(--ft-clr-white);
  font-size: var(--ft-size-md);
}

.display-password .password {
  width: 85%;
  text-align: left;
}

.display-password .copied {
  display: flex;
  gap: 8px;
}

.display-password .copied .copied-txt {
  font-size: var(--ft-size-sm);
}

button.copy {
  background: none;
  border: none;
  outline: none;
  fill: var(--color-primary);
}

button.copy:hover svg {
  fill: var(--ft-clr-white);
}
